<div class="container">
  <div class="home-container">
    <div class="top-container">
      <div class="info-container">
        <p class="white-title info-title">
          Hello, My name is<br />Breno Rusciolelli
        </p>
        <p class="info-subtitle">Full Stack Developer</p>
        <div class="buttons-container d-flex">
          <div class="container-button-rs">
            <a href="#" target="_blank" rel="noreferrer">
              <button type="button" class="btn btn-primary">
                <a href="#" style="text-decoration: none; color: white"
                  >Download Resume</a
                >
              </button>
            </a>
          </div>
          <div class="container-button-ct">
            <a
              href="https://www.linkedin.com/in/dedeus6/"
              target="_blank"
              rel="noreferrer"
            >
              <button
                type="button"
                class="btn btn-secondary"
                style="text-decoration: none"
              >
                <a
                  class="btcontato"
                  href="#"
                  style="text-decoration: none; color: white"
                  >Contact</a
                >
              </button>
            </a>
          </div>

          <div class="textos">
            <div class="sobre-mim-container">
              <p class="white-title">About me</p>
            </div>
            <div class="sobre-content">
              <p>
                I am a fullstack developer, currently working at TCM-BA
                developing projects in Java, JSF, Jboss Seam, RichFaces,
                PrimeFaces, Hibernate / JPA, Angular, SQL Server, MySQL,
                PostgreSQL, Git and Gitflow, BPM tool based on flowchart,
                OpenShif and Docker containers and composing the Scrum team of
                the project in the TCM Java cell /BA
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
