<div class="container-geral">
  <div class="info-component-container">
    <div class="item-container">
      <i class="fab fa-github-square fa-4x"></i>
      <a href="https://github.com/brenorusciolelli" target="_blank" rel="noreferrer" style="text-decoration: none;"><p class="item-title">Github</p></a>
    </div>

    <div class="item-container">
      <i class="fas fa-at fa-4x"></i>
      <a href="mailto:brenorusciolelhe@hotmail.com" target="_blank" rel="noreferrer" style="text-decoration: none;"><p class="item-title">Email</p></a>
    </div>

    <div class="item-container">
      <i class="fab fa-whatsapp-square fa-4x"></i>
      <a href="https://api.whatsapp.com/send?I=pt_BR&amp;phone=5571994078107" target="_blank" rel="noreferrer" style="text-decoration: none;"><p class="item-title">WhatsApp</p></a>
    </div>

    <div class="item-container">
      <i class="fab fa-linkedin fa-4x"></i>
      <a href="https://www.linkedin.com/in/breno-rusciolelhe-brito-82575b85/" target="_blank" rel="noreferrer" style="text-decoration: none;"><p class="item-title">LinkedIn</p></a>
    </div>

  </div>
</div>
